__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.git/
.gitignore
*.ipynb_checkpoints/
.vscode/
results_*/
*.html
*.exe
csgo_sim*
go.mod
go.sum
cmd/
internal/
util/
xen_model/
ml_models/
docker_EGTA/
